**/*.pdf
**/*.jpg
**/*.png
**/*.bmp
**/expr/**
**/*.zip
**/build/**
**/*.nfs
**/*.nfs*
**/.ipynb_checkpoints/**
**/*__MACOSX/**
**/__pycache__/**
**/data/**
pretrained
detector/pretrained
**/*.core
**/*.pytorch*/**
**/temp/**
**/debug/**
**/backup/**
output/*
